tuscany/tuscany-ws/src/main/resources/search.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SolrSearchServiceService"
	targetNamespace="http://service.tuscany.shirdrn.org/" xmlns="http://service.tuscany.shirdrn.org/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP11="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema targetNamespace="http://service.tuscany.shirdrn.org/"
			version="1.0" xmlns:tns="http://service.tuscany.shirdrn.org/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="search" type="tns:search" />
			<xs:element name="searchResponse" type="tns:searchResponse" />
			<xs:complexType name="searchResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="search">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
					<xs:element minOccurs="0" name="arg1" type="xs:string" />
					<xs:element name="arg2" type="xs:int" />
					<xs:element name="arg3" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="search">
		<wsdl:part name="search" element="search">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchResponse">
		<wsdl:part name="searchResponse" element="searchResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SolrSearchService">
		<wsdl:operation name="search">
			<wsdl:input message="search">
			</wsdl:input>
			<wsdl:output message="searchResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SolrSearchServiceBinding" type="SolrSearchService">
		<SOAP:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="search">
			<SOAP:operation soapAction="" />
			<wsdl:input>
				<SOAP:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<SOAP:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="solrSearchComponent_SolrSearchService">
		<wsdl:port name="SolrSearchServiceSOAP11Port" binding="SolrSearchServiceBinding">
			<SOAP:address
				location="http://10.95.3.74:8080/solrSearchComponent/SolrSearchService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>